@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Inter', sans-serif;
}

/* .navbarItems{
  scrollbar-gutter: stable;
} */

/* width */
.navbarItems::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.navbarItems::-webkit-scrollbar-track {
  background: transparent;
 
}
 
/* Handle */
.navbarItems::-webkit-scrollbar-thumb {
  background: #353c5384; 
}

/* Handle on hover */
.navbarItems::-webkit-scrollbar-thumb:hover {
  background: #333e5f; 
}